<h2>Welcome to my CRUD application</h2>

<ul>
    <li><a class="btn btn-link" href="http://localhost:8080/create">Create</a></li>
    <li><a class="btn btn-link" href="http://localhost:8080/read">Read</a></li>
    <li><a class="btn btn-link" href="http://localhost:8080/search">Read by name</a></li>
</ul>